.show-welcome {
    position:absolute;
    z-index: 101;
    background-color: floralwhite;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.left-show {
    height: 100%;
    width: 70%;
    background-color:rgb(28, 27, 27);
    display: flex;
    justify-content: center;
}

.right-show {
    height: 100%;
    width: 30%;
    background-color:white;
    display: flex;
    flex-direction: column;
}

.show-details {
    width: 100%;
    background-color: white;
    height:40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.show-posttext {
    width: 100%;
    margin-left: 7%;
}


/* .post-text-container {
    width: 100%;
    margin-right: 0%;
    margin-left: 7%;
} */

.comment-section {
    width: 100%;
    background-color:rgb(248, 248, 248);
    height:fill;
    /* position:none; */
    overflow-y: scroll;
    /* margin-left: 7%; */
    border: 1px solid;
    border-left: none;
    border-top-color: rgb(219,219,219);
    border-bottom-color: rgb(219,219,219);
    /* display: flex; */
    /* flex-direction: column-reverse; */
}

#bar, #bar-test
{
    position: absolute;


    top: -50px;
    left: 25%;
    width: 50%;
    height: 5%;
    z-index: 200;
    background-color: #3b5598;
    display: flex;
    align-items: center;
    justify-content: center;
    color: floralwhite;
    -webkit-animation: bar 5s ease-in-out;
}

@keyframes bar
{
  0% {
    top: -50px;

  }

  50% {
    top: 0px;
  }

  75% {
    top: 0px;
  }
  100% {
    top: -50px;
  }
}

.add-comment {
    width: 100%;
    height: 15%;
    background-color: white;
}

.show-page-video {
    object-fit: cover;
    /* border-radius: 5px; */
    width: 70%;
    height: -webkit-fill-available;
    cursor: pointer;
    z-index: 1;
}

.show-page-video-background {
        object-fit: cover;
        /* border-radius: 5px; */
        width: 70%;
        height: -webkit-fill-available;
        /* cursor: pointer; */
        opacity: 0.05;
        position: absolute;
        top: 0px;
        left: 0px;
        pointer-events: none;
        scale: 1;
        transform: perspective();
}

.show-close-button {
    width: 50px;
    height:50px;
    border-radius: 50%;
    border: none;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align:center;
    text-justify: center; */
    position: absolute;
    top: 3%;
    left: 1%;
    font-size: 30px;
    font-weight: bolder;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;

}

.show-close-button:hover {
    transition: ease-in-out 0.4s;
    opacity: 0.8;
}

.show-username-in-video {
    font-family: PT Sans Caption;
    width: fit-content;
    height: fit-content;
    color: floralwhite;
    background-color: transparent;
    pointer-events: none;
    /* z-index: 5; */
    position:absolute;
    /* top:90%; */
    bottom: 8%;
    right: 46%;
    z-index: 2;
}



.show-logo-button {
    width: 50px;
    height:50px;
    border-radius: 50%;
    border: none;
    background-color: black; 
    padding: 0px;
    text-align:center;
    position: absolute;
    top: 3%;
    left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.show-logo-button:hover {
    cursor: auto;
}

.show-logo-button-image {
    width: 80%;
    height: 80%;
}

.show-details-subdiv {
    width: 100%;
    background-color: white;
    height: 17%;
    margin-left: 7%;
}

.show-details-username-and {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.show-details-username {
    display: flex;
    justify-content: space-between;
    width: fit-content;
    align-items: center;

}

.show-details-username span {
    font-family: Poppins;
    font-weight: 600;
    font-size: 18px;
}

.show-details-about {
    font-family: Poppins;
    font-weight: 300;
    font-size: 14px;
}

.comment-div {
    height: 26%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 7%;


}

.comment-author-body {
    height: 80%;
    display:flex;
    flex-direction: column;
}

.comment-body {
    height: 50%;
    overflow-wrap: break-word;
    font-family: Avenir Book, Arial;
    width: 94%;
}

.comment-author {
    height: 70%;
    font-size: 18px;
    font-weight: 600;
    font-family: Poppins;
}

.comment-time-ago {
    font-size: 12px;
    height: 20%;
    font-family: Avenir Book, Arial;
}

.delete-comment {
    /* align-self: flex-end;
    justify-self:baseline; */

    width: fit-content;
    height: fit-content;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 2px;

}

.delete-edit-container {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 40px;
    right: 18px;
    font-size: 16px;
    width: fit-content;
    font-weight: 600;
    opacity: 1;
}

#ai{
    position: absolute;
    right: 5%;
    font-size: 16px;
}

#ai:hover {
    cursor: pointer;
}

#delete-comment-container {
    width: 100%;
    display: flex;
    align-items: center;
    opacity: 1;
    font-family: Avenir Heavy, Avenir Book, Avenir, Arial, Helvetica, sans-serif;
}

#delete-comment-container:hover {
    color: rgb(255,196,12);
    cursor: pointer;

}

.hover-delete {
    position: absolute;
    height:75px;
    width: 180px;
    top: 5px;
    right: 0px;
    box-shadow: 0px 12px 19px -12px rgb(171, 169, 169);
    background-color: transparent;
    opacity: 1;
    pointer-events: none;
}

.delete-modal {
    position: relative;
}

.comment-menu {
    cursor: pointer;
    opacity:0;
    pointer-events: none;

    right: 15px;

    font-size: 30px;
    position: relative;
    transition: 0.2s ease-in-out;
    height: 100%;
    width: 100%;
}

.hover-thing:hover > .pb{
    display: block;
}


.add-comment {
    width: 100%;
}
.add-comment-subcontainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#comment-input {
    width: 80%;
    height: 50%;
    background-color: rgb(241,241,243);
    border-radius: 11px;
    font-size: 14px;
    font-family: Poppins;
    border-right: none;
    
}

.banana-show-count {
    color: #7D7D84;
    height: 4%;
    margin-top: 10%;
    font-family: Poppins;
    font-weight: 700;
    font-size: 12px;
}

#show-banana {
    width: 80%;
    height: 80%;
}

#bananas-show {
    scale: 0.6;
}

.banana-comment-show-div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: -15px;

}

.banana-button-div {
    display: flex;
    align-items: center;
}

 
.comment-author-flexer {
    display: flex;
    justify-content: space-between;
    width: 98%;
    align-items: center;
    height: auto;
    position: relative;
}

.add-comment-button {
    font-family: Poppins;
    height: 45%;
    /* width: 7%; */
    margin-right: 2%;
    background-color: transparent;
    border: none;
    color: rgb(187,187,191);
    font-size: 15px;
    font-weight: 500;
    transform: translateX(50%);
}

.delete-modal {
    font-size: 30px;
}

.search-bar-div1 {
width: 100%;
height: 100%;
background-color: transparent;
display: flex;
justify-content: center;
align-items: center;
border-radius:4px;
}

#comment-input:focus-within {
    border: solid;
    border-color: rgb(121, 122, 125);
    border-width: 0.5px;

}

.comment-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.test-input-div {
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
    position: none;
    opacity: 0.3;
    flex-basis: 0;
}

.test-input {
    opacity: 0;
    pointer-events: none;
}

.test-input-button {
    color: rgb(40,40,40);
    width: 30%;
    height: 50%;
}

aside.emoji-picker-react {
    position: absolute !important;
    bottom: 9%;
    right: 1%;

}

#edit-post-img {
    /* font-size: 20px; */
    width: 80%;
    height: 80%;
}

#edit-post-span {
    cursor: pointer;
}

.modal-container-post-update {
    position: absolute;
    height:100vh;
    width:100vw;
    background-color: rgba(40,40,40,0.8);
    z-index: 300;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s ease-in-out;
}

#modal-close {
    font-size: 22px;
    position: absolute;
    margin-right: 95%;
    margin-bottom: 77%;
}

#modal-close:hover {
    cursor: pointer;
    color: firebrick;
}

.update-post-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.modal-update {
    position: absolute;
    top: 20%;
    left: 30%;
    background-color: floralwhite;
    height: 65%;
    width: 45%;
    border-radius: 5px;
    box-shadow: 0px 12px 19px -12px rgb(40,40,40);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.modal-update h1 {
    width: fit-content;
    height: fit-content;
    font-size: 36px;
    font-family: Avenir Heavy, Avenir, Arial, Helvetica, sans-serif;
    color: rgb(40,40,40)
}

#modal-flexer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
}

.div1 {

    height: 100%;
    width: 49%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.div1 img {
    width: 80%;
    height: 80%;
}

.update-labels {
    font-family: Avenir Heavy, Avenir, Arial;
    margin-bottom: 20px;
}

#tags-length {
    position: absolute;
    right: 6%;
    margin-top: 3%;
    color: rgba(40,40,40,0.4);
    font-size: 12px;
}

.div2 {
    background: rgba(40,40,40,0.3);
    height: 100%;
    width: 0.3%;

}

.div3 {

    height: 100%;
    width: 49%;

}

#enter-submit {
    font-size: 16px;
    position: absolute;
    left: 12%;
    margin-bottom: 50%;
}

.form-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: space-evenly;
}

.label-input-wrapper {
    width:100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:5%;
}

.update-caption {
    width: 80%;
    height: 75%;
}

.update-tags {
    width: 80%;
    height: 30px;
}

.update-post-button {
    font-family: Avenir Heavy, Avenir Book, Arial, Helvetica, sans-serif;
    width: 80%;
    height:1%;
    border: none;
    background-color: rgb(255,196,12);
    color: white;
}

.update-post-button:hover {
    background-color: rgb(222, 167, 4);
}

.label-input-wrapper label {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.del-button {
    position: absolute;
    color: rgba(40,40,40,0.4);
    right: 2%;
    top: 1.5%;
    font-family: PT Sans Caption;
    font-weight: 500;
    transition: 0.2s ease-in-out;
    /* z-index: 200; */
}

.del-button:hover {
    color: firebrick;
    cursor: pointer;
    font-weight: 800;

}

#comment-length {
    position: absolute;
    right: 26.7%;
    bottom: 7.3%;
    font-size: 12px;
    color: rgba(40,40,40,0.4);
    font-family: Avenir Book, Avenir, Arial, Helvetica, sans-serif;
}









/* bigger screen res media query */

@media only screen and (min-width: 1601px) {

    .show-logo-button {
        left: 4.5%;
    }

    .add-comment {
        height: 12%;
    }

    .show-details-username {
        width: fit-content;
    }

    .show-details-username-and {
        height: 95%;
    }

    .show-details-username span {
        font-family: Poppins;
        font-weight: 600;
        font-size: 20px;
    }

    .show-details-about {
        font-size: 17px;
    }

    .comment-author-flexer {
        width: 75%;
    }
    
    /* .search-bar-div1 {
        margin-left: 5%;
    } */

    .hover-thing {
        position: relative;
        left: 25%;
    }

    .del-button {
        top: 3%;
    }

    #comment-length {
        right: 27.1%;
        bottom: 6.2%;
    }

    #modal-close {
        margin-bottom: 77%;
    }

    #enter-submit {
        font-size: 16px;
        position: absolute;
        left: 15%;
        margin-bottom: 50%;
    }

}