.nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0px;
    left: 10%;
    margin: 0px;
    height: 8vh;
    width: 80%;
    border-bottom: solid;
    border-width: 1.5px;
    border-color: #E8E8E8;
    background-color: rgb(255, 255, 255);
    z-index: 100;
}

.nav-bar-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    margin-right: 1%;
}

.nav-bar-buttons div button {
    scale: 1.2
}

.logo {
    scale: 0.8
}

.logo-title {
    height: 100%;
    display: flex;
    width: 20%;
}

.title {
    margin-left: -5%;
}


.title {
    z-index: 20;
    color: black;
}

.search-bar {
    width: 80%;
    outline: none;
    border: none;
    border-right: solid;
    border-width: 0.2px;
    border-color: rgb(204, 205, 207);
    caret-color: rgb(255,196,12);
    background-color: transparent;
    appearance: textfield;
    font-size: 16px;
    color: rgb(58, 57, 57);
    height: 70%;
}

.search-button {
    width: 15%;
    border: transparent;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 100%;
    font-size: 16px;
    color: rgb(58, 57, 57);
}

.search-button:hover {
    background-color: rgb(235, 235, 235);
}

.search-bar:focus {
    outline: none;
}


.search-bar-div {
    width: 32%;
    height: 70%;
    background-color: rgb(243, 243, 244);
    border-radius: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.search-bar-div:focus-within {
    border: solid;
    border-color: rgb(204, 205, 207);
    border-width: 0.3px;
}




.log-in-buttons {
    font-family: "Nunito Sans";
    padding: 8px;
    width: 100px;
    background-color: rgb(255,196,12);
    border-radius: 5px;
    border: none;
    font-size: 14px;
    font-weight: 600;
    color: white;

}
.upload-button {
    font-family: "Nunito Sans";
    padding: 4px;
    width: 100px;
    background-color: white;
    border-radius: 2px;
    border: solid;
    border-color: rgb(224,225,226);
    border-width: 0.1px;
    font-size: 14px;
    font-weight: 600;
    color: rgb(22,24,35);
}

.plus {
    font-size: 20px;
}
.log-in-buttons:hover {
    background-color: rgb(222, 167, 4);
}

.upload-button:hover {
    background-color: rgb(249, 249, 249);
}

.logo-title img:hover {
cursor: pointer;
}