.nav {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    top: 0px;
    left: 0px;
    margin: 0px;
    height: 8vh;
    width: 100%;
    border-bottom: solid;
    border-width: 1.5px;
    border-color: #E8E8E8;
    background-color: rgb(255, 255, 255);
}

.nav-bar-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
}

.logo {
    scale: 0.8
}

.logo-title {
    height: 100%;
    display: flex;
    width: 20%;
}

.title {
    margin-left: -5%;
}


.title {
    z-index: 20;
    color: black;
}

.search-bar {
    width: 180%;
    border-radius: 20px;
    border: none;
    line-height: 275%;
    caret-color: rgb(255,196,12);
    background-color: rgb(243, 243, 244);
}

.search-bar:focus {
    outline-color: rgb(204, 205, 207);
    outline-width: 0.3px;
    outline-style: solid;
}



.log-in-buttons {
    font-family: "Nunito Sans";
    padding: 8px;
    width: 100px;
    background-color: rgb(255,196,12);
    border-radius: 5px;
    border: none;
    font-size: 14px;
    font-weight: 600;
    color: white;

}
.upload-button {
    font-family: "Nunito Sans";
    padding: 4px;
    width: 100px;
    background-color: white;
    border-radius: 2px;
    border: solid;
    border-color: rgb(224,225,226);
    border-width: 0.1px;
    font-size: 14px;
    font-weight: 600;
    color: rgb(106, 106, 112);
}

.plus {
    font-size: 20px;
}
.log-in-buttons:hover {
    background-color: rgb(222, 167, 4);
}

.upload-button:hover {
    background-color: rgb(249, 249, 249);
}