.container {
    height: 92vh;
    margin-top: 8vh;
    width: 100vw;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

html {
    background-color: white;
}


.left-container1 {
    width: 23%;

    background-color: white;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    height: 100%;
    overflow-y: scroll;

}

.right-container {
    margin-right: 10%;
    height: 100%;
    width: 57%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: 33%;
}

.ff-container {
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.topics-container {
    height: 45%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.spacer {
    height: 0.1px;
    opacity: 1;
    background-color: #dcd9d9;
    width: 95%;
}

.signup-container {
    width: 100%;
    background-color:transparent;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.signup-text {
    font-size: 16px;
    color: rgba(22,24,35,0.5);
    line-height: 22px;
}

.signup-button {
    font-family: Avenir Book, Avenir, Arial;
    padding: 6px;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    border-color: rgb(255,196,12);
    border: solid;
    border-width: 1px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(255,196,12);
    height: 40%;
    line-height: 25px;
}

.signup-button:hover {
    background-color: rgba(253, 228, 152,0.2);
}

.sub-div {
    font-family: Poppins;
    width: 100%;
    background-color: transparent;
    font-size: 18px;
    font-weight: 600;
    line-height: 35px;
    color: rgb(22,24,35);
    display: flex;
    align-content: center;
    align-items: center;
}

.topics-container .sub-div {
    font-family: Poppins;
    width: 100%;
    background-color: transparent;
    font-size: 18px;
    font-weight: 600;

    height: 12.5%;
    color: rgb(22,24,35);
    display: flex;
    align-content: center;
    align-items: center;
}

.sub-div-spacer {
    width: 10px;
}

.ff-container .sub-div {
    height: 40%;
}

.sub-div:hover {
    cursor: pointer;
    transition: 0.2s, ease-in-out;
    background-color: #F9F9F9;
    transition-property: background-color;
}

.icon {
    font-size: 25px;
    margin-top: 5px;
}

.container-subheading {
    font-family: PT Sans Caption;
    font-size: 14px;
    height: 10%;
    margin-left: 2.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 600;
    color: rgb(91,91,99)
}
