.update-input {
    line-height: 30px;
    width: 80%;
    /* display:none; */
    border-radius: 5px;
    color: #161823;
    font-size: 14px;

}

.modal-maneuver {
    position: absolute;
    right: 1%;
    margin-top: 1%;
    background-color: transparent;
    width: 13%;
    height: 12%;
    pointer-events: none;
    transition: 1s ease-in-out;
}

.creator-tag {
    color: #DEA704;
    font-family: Poppins;
    font-size: 14px;
}

#comment-author {
    display: flex;
    justify-content: space-between;
    width: fit-content;
    align-items: center;
}

.hover-thing {
    position: relative;
}

#empty-comments-div {
    font-family: Avenir Roman, Avenir Book, Arial;
    color: rgba(40,40,40,0.4);
    position: absolute;
    width: 30%;
    height: 60%;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

