.videos {
    object-fit: cover;
    border-radius: 5px;
    width: 100%;
    height: -webkit-fill-available;
    cursor: pointer;
}

.video-show-link {
   height: inherit;
   width: inherit;
   display: flex;
   justify-content: center;
}

.video-show-link a {
    width: 33%;
}

.post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60rem;
}

.post-index-div {
    width: 100%;
    background-color: red;
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.postindex-caption {
    width: 33%;
    font-weight: 400;
    line-height: 22px;
    font-size: 16px;

}

.postindex-username {
    /* align-self: flex-start; */
    font-family: Poppins;
    font-weight: 600;
    font-size: 18px;
    width: 33%;
    line-height: 25px;
}

.postindex-tags {
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}
