.videos {
    object-fit: cover;
    border-radius: 5px;
    width: 100%;
    height: -webkit-fill-available;
    cursor: pointer;
}

.video-show-link {
   position: relative;
   height: 85%;
   width: inherit;
   display: flex;
   justify-content: center;
}

.video-show-link a {
    width: 38%;
    /* height: 76%; */
}

.post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 45rem;
}

.username-in-video {
    font-family: PT Sans Caption;
    width: fit-content;
    height: fit-content;
    color: floralwhite;
    background-color: transparent;
    pointer-events: none;
    /* z-index: 5; */
    position:absolute;
    /* top:90%; */
    bottom: 11%;
    right: 38%;
}

.post-text-container {
    width: 48%;
    margin-right: 0%;
}

.post-index-div {
    width: 100%;
    background-color: red;
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.postindex-caption {
    font-family: Poppins;
    width: 86.8%;
    font-weight: 300;
    line-height: 18px;
    font-size: 14px;

}

.postindex-username {
    /* align-self: flex-start; */
    font-family: Poppins;
    font-weight: 600;
    font-size: 18px;
    /* width: 33%; */
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
}

.postindex-tags {
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.spacer2 {
    height: 1px;
    opacity: 0.5;
    background-color: rgb(20, 59, 216);
    width: 85%;
}

.index-buttons {
    background-color: blue;
    width: 10%;
    height: 100%;
    /* z-index: 3; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

}

.index-button {
    width: 55px;
    height:55px;
    border-radius: 50%;
    border: none;
    color: rgb(40,40,40);
    background-color: rgb(241,241,242); 
    padding: 0px;
    text-align:center;
}

.index-button:hover {
    background-color: rgb(231,231,232);
    transition: ease-in-out 200ms;
}

.index-button-number {
    color:white;
    height: 4%;
    margin-top:10%;
    /* background-color: purple; */

}

.button-picture {
    width: 80%;
    height: 80%;
}

.verified-react-icon {
    color: #45D5EC;
    margin-left: 3px;
}

.in-video-text {
    position:absolute;
    left: 26%;
    background-color: rgba(100,120,100,0);
    display: flex;
    height: 10%;
    justify-content: flex-start;
    align-content: center;
    width: 25%;
}

.in-video-logo-images {
    width: 40%;
    height:80%;
}

#in-video-banana {
    width: 20%;
    height: 60%;
    margin-bottom: 10px;
}

#in-video-bananatok {
    width: 60%;
    height: 90%;
    opacity: 0;
}

@media only screen and (min-width: 1601px) {

    .postindex-username {
        width: fit-content;
    }

    .verified-react-icon {
        scale: 0.95
    }

    .post-container {
        height: 50rem;
    }

    .video-show-link a {
        width: 30%;
    }

    .username-in-video {
        bottom: 10%;
    right: 42%;
    }

    .post-text-container {
        width: 40%;
        margin-right: 0%;
    }
    

}

